// 字体
@mixin make-fs($i) {
    font-size: $i * 1px;
    font-size: ($i / 16) * 1rem;
}

// 块居中
@mixin center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//单行超出省略
@mixin ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// 响应式图片
@mixin img-responsive() {
    display: block;
    max-width: 100%;
    height: auto;
}

// 内容块居中
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}