@import '../../variables.scss';

@keyframes flash {

    from,
    50%,
    to {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.#{$apre}flash {
    animation-name: flash;
}
