// @import './variables.scss';

//淡入
@each $name in fade-in, fade-in-down, fade-in-up, fade-in-left, fade-in-right {
    .#{$apre}#{$name} {
        animation: $fade-in-s ease-out backwards;
    }
}

// 淡出
@each $name in fade-out, fade-out-down, fade-out-up, fade-out-left, fade-out-right {
    .#{$apre}#{$name} {
        animation: $fade-out-s ease-in forwards;
    }
}

// 弹入
@each $name in bounce-in, bounce-in-down, bounce-in-up, bounce-in-left, bounce-in-right {
    .#{$apre}#{$name} {
        animation: $bounce-in-s ease-out backwards;
    }
}

//弹出
@each $name in bounce-out, bounce-out-down, bounce-out-up, bounce-out-left, bounce-out-right {
    .#{$apre}#{$name} {
        animation: $bounce-out-s ease-in forwards;
    }
}

// 移入
@each $name in slide-in-down, slide-in-up, slide-in-left, slide-in-right {
    .#{$apre}#{$name} {
        animation: $slide-in-s ease-out backwards;
    }
}

//移出
@each $name in slide-out-down, slide-out-up, slide-out-left, slide-out-right {
    .#{$apre}#{$name} {
        animation: $slide-out-s ease-in forwards;
    }
}

// 颤抖
.#{$apre}shake {
    animation: $shake-s linear both;
}

// 闪烁
.#{$apre}flash {
    animation: $flash-s linear both;
}

//跳动
.#{$apre}bounce {
    animation: $bounce-s ease-out both;
}

//摇摆
.#{$apre}swing {
    animation: $swing-s linear both;
}

//凝胶
.#{$apre}jello {
    animation: $jello-s linear both;
}

.#{$apre}rubber {
    animation: $rubber-s linear both;
}

@import './animation/fade.scss';
@import './animation/bounce.scss';
@import './animation/slide.scss';
@import './animation/attention/shake.scss';
@import './animation/attention/flash.scss';
@import './animation/attention/bounce.scss';
@import './animation/attention/swing.scss';
@import './animation/attention/jello.scss';
@import './animation/attention/rubber.scss';
