//全局工具类

@import 'variables.scss';
@import 'mixins.scss';
@import 'grid.scss';

// 生成边距
@for $i from 0 through $mplen {
    .p-t-#{$i}x {
        @include make-p-t($mpunit, $i);
    }

    .p-r-#{$i}x {
        @include make-p-r($mpunit, $i);
    }

    .p-b-#{$i}x {
        @include make-p-b($mpunit, $i);
    }

    .p-l-#{$i}x {
        @include make-p-l($mpunit, $i);
    }

    .p-x-#{$i}x {
        @include make-p-x($mpunit, $i);
    }

    .p-y-#{$i}x {
        @include make-p-y($mpunit, $i);
    }

    .m-t-#{$i}x {
        @include make-m-t($mpunit, $i);
    }

    .m-r-#{$i}x {
        @include make-m-r($mpunit, $i);
    }

    .m-b-#{$i}x {
        @include make-m-b($mpunit, $i);
    }

    .m-l-#{$i}x {
        @include make-m-l($mpunit, $i);
    }

    .m-x-#{$i}x {
        @include make-m-x($mpunit, $i);
    }

    .m-y-#{$i}x {
        @include make-m-y($mpunit, $i);
    }
}


// 生成字体
@for $i from 12 through $fslen {
    .fs#{$i}r {
        @include make-fs($i);
    }
}

// 单行省略
.ellipsis {
    @include ellipsis();
}

//清除浮动
.clearfix {
    @include clearfix();
}

// 浮动
.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.dis-table {
    display: table;
    width: 100%;
    line-height: inherit;
    vertical-align: middle;
}

.dis-table .dis-row {
    display: table-row;
}

.dis-table .dis-cell {
    display: table-cell;
    vertical-align: middle;
}

.dis-block {
    display: block;
}

.dis-inblock {
    display: inline-block;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.lhx {
    line-height: inherit !important;
}

.v-middle {
    vertical-align: middle;
}

.v-valign {
    display: flex !important;
    align-items: center !important;
}

.img-responsive {
    @include img-responsive();
}

.center-block {
    @include center-block();
}

// 布局
.f-ldrz {
    @include f-ldrz();
}

.f-lzrd {
    @include f-lzrd();
}

.f-zdczrd {
    @include f-zdczrd();
}

.sticky-ft {
    @include sticky-ft();
}