//全局变量

// 类前缀名
$pre: 'ui-';

$grid-columns: 12;
$grid-gutter-width: 20px;


$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-xs-max: ($screen-xs - 1);
$screen-sm-max: ($screen-sm - 1);
$screen-md-max: ($screen-md - 1);

$screen-tablet: $screen-sm;

//1像素边框颜色
$bline-color: #e5e5e5;

//边距步长
$mplen: 10;
$mpunit: 8px;

// 字体工具类
//---------------------------------
$fslen: 42;
//工具类基准字体
$fsbase: 16px;

//色彩
$brand-primary:#428bca;
$brand-success:#5cb85c;
$brand-warning:#f0ad4e;
$brand-danger:#d9534f;
$brand-info:#5bc0de;

//gray
//------------------------------------
$gray-darker: lighten(#000, 13.5%); // #222
$gray-dark: lighten(#000, 20%); // #333
$gray: lighten(#000, 33.5%); // #555
$gray-light: lighten(#000, 60%); // #999
$gray-lighter: lighten(#000, 93.5%); // #eee

//--------------------------------------
//内边距
$padding-base-vertical: 6px;
$padding-base-horizontal: 12px;

$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;

$padding-large-vertical: 10px;
$padding-large-horizontal: 16px;


//字体
$font-size-base: 14px;
$font-size-small: ceil($font-size-base * 0.85); //~12
$font-size-large: ceil($font-size-base * 1.25);
//~18

// 行高
$line-height-base: 1.42;
$line-height-small: 1.33;
$line-height-large: 1.5;
$line-height-computed: ceil($font-size-base * $line-height-base); //~20;

// 圆角
$border-radius-base: 4px;
$border-radius-small: 3px;
$border-radius-large: 6px;

//table
//----------------------------------------
$table-cell-padding: 8px;
$table-condensed-cell-padding: 5px;

$table-bg: transparent; // overall 
$table-bg-accent: #f9f9f9;
$table-bg-hover: #f5f5f5;
$table-bg-active: $table-bg-hover;

$table-border-color: #ddd; // table and cell border


// form
//----------------------------------------
$input-bg: #fff;
$input-bg-disabled: $gray-lighter;

$input-color: $gray;
$input-border: #ccc;
$input-border-radius: $border-radius-base;
$input-border-focus: #67b6f7;

$input-color-placeholder: $gray-light;

$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 2);
$input-height-small: (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);
$input-height-large: (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);

// 按钮
// -----------------------------------------
$btn-font-weight: normal;

$btn-default-color: #333;
$btn-default-bg: #fff;
$btn-default-border: #ccc;

$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($brand-primary, 5%);

$btn-success-color: #fff;
$btn-success-bg: $brand-success;
$btn-success-border: darken($brand-success, 5%);

$btn-warning-color: #fff;
$btn-warning-bg: $brand-warning;
$btn-warning-border: darken($brand-warning, 5%);

$btn-danger-color: #fff;
$btn-danger-bg: $brand-danger;
$btn-danger-border: darken($brand-danger, 5%);

$btn-info-color: #fff;
$btn-info-bg: $brand-info;
$btn-info-border: darken($brand-info, 5%);

$btn-link-disabled-color: $gray-light;

// 动画相关
// ---------------------------------------
//动画前缀
$apre: 'a-';

// 动画持续时间
$a-time: .75s;

// 淡入时间
$fade-in-s: $a-time;

//淡出时间
$fade-out-s: .5s;

//弹入时间
$bounce-in-s: $a-time;

//弹出时间
$bounce-out-s: 1s;

//移入时间
$slide-in-s: $a-time;

//移出时间
$slide-out-s: .5s;

//颤抖时间
$shake-s: $a-time;

// 闪烁时间
$flash-s: $a-time;

// 跳动时间
$bounce-s: $a-time;

//摇摆时间
$swing-s: $a-time;

// 凝胶时间
$jello-s: $a-time;

//橡皮筋时间
$rubber-s: $a-time;
