//全局变量


// 类前缀名
$pre: 'ui-';

$grid-columns: 12;
$grid-gutter-width: 20px;


$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-xs-max: ($screen-xs - 1);
$screen-sm-max: ($screen-sm - 1);
$screen-md-max: ($screen-md - 1);

//1像素边框颜色
$bline-color: #e5e5e5;

//边距步长
$mplen: 10;
$mpunit: 8px;

$fslen: 42;
//基准字体
$fsbase: 16px;

//动画前缀
$apre: 'a-';
// 淡入时间
$fade-in-s: .75s;
//淡出时间
$fade-out-s: .5s;
//弹入时间
$bounce-in-s: .75s;
//弹出时间
$bounce-out-s: 1s;